@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-omni-dark text-slate-200;
}

.node-editorBlock {
  margin: 2rem 0;
}

.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;

  @apply text-[#44475A];
}
